.card-container {
  display: flex;
  padding: 16px 24px;
  background-color: #fff;
  border-radius: 24px;
  position: relative;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.05));
  gap: 16px;
  transition: transform 0.3s ease;
  width: fit-content;
}
.card-container:hover {
  transform: translateY(-5px);
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  left: -100px;
  z-index: 1;
  border: 2px solid #e80e4a;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.05));
}
.card-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}
.card-heading {
  font-family: Arial, Helvetica, sans-serif;
  color: #e80e4a;
  margin: 0;
  text-wrap: nowrap;
}

.card-subtext {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #574e83;
  margin: 0;
  font-size: 16px;
  font-weight: 650;
}
.card-body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin: 0;
  font-size: 14px;
  max-width: 800px;
}

@media (max-width:1300px) {
    .card-container{
      width: auto;
      box-sizing: border-box;
    }
    .card-subtext{
      text-wrap: nowrap;
    }
}

@media (max-width:1100px) {
    .card-container{
      margin: 0 !important;
    }
    .circle{
      left: -64px;
    }
}

@media (max-width:600px) {
  .card-container{
    flex-direction: column;
  }
  .circle{
    left: -48px;
    width: 24px;
    height: 24px;
  }
}